absl-py==1.0.0
akro==0.0.8
alabaster==0.7.12
astroid==2.9.2
astunparse==1.6.3
atari-py==0.2.5
attrs==21.4.0
Babel==2.9.1
box2d-py==2.3.8
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.0
cfgv==3.3.1
charset-normalizer==2.0.10
click==8.0.3
cloudpickle==1.3.0
cma==2.7.0
commonmark==0.9.1
coverage==6.2
cycler==0.11.0
Cython==0.29.26
decorator==5.1.1
Deprecated==1.2.13
distlib==0.3.4
dm-control==0.0.403778684
dm-env==1.5
dm-tree==0.1.6
docutils==0.17.1
dowel==0.0.3
execnet==1.9.0
fasteners==0.16.3
filelock==3.4.2
flake8==4.0.1
flake8-docstrings==1.6.0
flake8-import-order==0.18.1
flake8-polyfill==1.0.2
flatbuffers==2.0
fonttools==4.28.5
future==0.18.2
-e git+https://github.com/rlworkgroup/garage.git@b4abe07f0fa9bac2cb70e4a3e315c2e7e5b08507#egg=garage
gast==0.4.0
glfw==2.5.0
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.43.0
gym==0.17.2
h5py==3.6.0
identify==2.4.2
idna==3.3
imageio==2.13.5
imagesize==1.3.0
importlib-metadata==4.10.0
importlib-resources==5.4.0
iniconfig==1.1.1
isort==4.3.21
Jinja2==3.0.3
jsonschema==4.3.3
keras==2.7.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
labmaze==1.0.5
latexcodec==2.0.1
lazy-object-proxy==1.7.1
libclang==12.0.0
lockfile==0.12.2
lxml==4.7.1
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.5.1
mccabe==0.6.1
metaworld @ https://api.github.com/repos/rlworkgroup/metaworld/tarball/0875192baaa91c43523708f55866d98eaf3facaf
mpi4py==3.1.3
msgpack==1.0.3
mujoco-py==2.0.2.0
networkx==2.6.3
nodeenv==1.6.0
numpy==1.22.0
oauthlib==3.1.1
opencv-python==4.5.5.62
opt-einsum==3.3.0
packaging==21.3
pep8-naming==0.7.0
Pillow==9.0.0
platformdirs==2.4.1
pluggy==1.0.0
pre-commit==2.16.0
protobuf==3.19.1
psutil==5.9.0
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybtex==0.24.0
pybtex-docutils==1.0.1
pybullet==3.2.1
pycodestyle==2.8.0
pycparser==2.21
pydocstyle==6.1.1
pyflakes==2.4.0
pyglet==1.5.0
Pygments==2.11.2
pylint==2.12.2
PyOpenGL==3.1.5
pyparsing==3.0.6
pyrsistent==0.18.0
pytest==6.2.5
pytest-cov==3.0.0
pytest-forked==1.4.0
pytest-rerunfailures==10.2
pytest-timeout==2.0.2
pytest-xdist==2.5.0
python-dateutil==2.8.2
pytz==2021.3
PyWavelets==1.2.0
PyYAML==6.0
ray==1.9.1
recommonmark==0.7.1
redis==4.1.0
requests==2.27.1
requests-oauthlib==1.3.0
rsa==4.8
scikit-image==0.19.1
scipy==1.7.3
setproctitle==1.2.2
six==1.16.0
snowballstemmer==2.2.0
Sphinx==4.3.2
sphinx-autoapi==1.8.4
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-bibtex==2.4.1
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
tabulate==0.8.9
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.4.1
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.23.1
tensorflow-probability==0.12.2
termcolor==1.1.0
tifffile==2021.11.2
toml==0.10.2
tomli==2.0.0
torch==1.7.1
torchvision==0.8.2
tqdm==4.62.3
typing_extensions==4.0.1
Unidecode==1.3.2
urllib3==1.26.8
virtualenv==20.13.0
Werkzeug==2.0.2
wrapt==1.13.3
yapf==0.30.0
zipp==3.7.0
